<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="loomiscCS290week7.css" type="text/css">
</head>
<h1>You sent the following data in a {{reqType}} request:</h1>
<table>
	<tr>
		<th>Name</th>
		<th>Value</th>
		<th>Request Type</th>
	</tr>
  {{#each dataList}}
	<tr>
		<td class="{{this.reqType}}">{{this.name}}</td>
		<td class="{{this.reqType}}">{{this.value}}</td>
		<td class="{{this.reqType}}">{{this.reqType}}</td>
	</tr>
  {{/each}}
</table>